<div class="container about">

  <div class="row about headline">
  <hr>
  <p>Box is an international CO-LIVING
    HOUSE where you can meet locals
    and leads you easily into Taipei City.
    Located in and Unbelievably Great Spot!</p>
  <hr>
  </div>
  <div class="row about">
    <div class="col-lg-6 leftColumn">


  <div class="about mission">
    <b>Mission Statement</b>
    <p>Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.
      Donec eleifend nisl sed imperdiet
      fringilla. Morbi interdum lacus eros,
      nec vehicula orci faucibus et.
      Vivamus ornare risus ante, at
      egestas nisi mattis in. Ut
      tristique erat felis, vel
      rhoncus dui bibendum in. Nunc
      a egestas diam, ut condimentum
      mi. Class aptent taciti sociosqu
      ad litora torquent per conubia
      nostra, per inceptos himenaeos.
      Sed elit lorem, suscipit sed
      laoreet ut, rhoncus ut augue.
      Sed lectus orci, aliquam vitae
      hendrerit non, mattis nec ante.
      Mauris rutrum, felis et pharetra
      dapibus, est lectus consequat est,
      et posuere quam quam et.</p>

  </div>
  <div class="row about chocolate-img hidden-lg-up">
    <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png'%>
  </div>
<div class="about final-statement">
  <b>Lorem Ipsum</b>
  <p>Dolor sit amet, consectetur adipiscing
    elit. Donec eleifend nisl sed imperdiet
    fringilla. Nunc a egestas diam, ut condimentum
    mi, mattis nec ante.</p>
</div>
</div>
<div class="miniGallery about col-lg-6 hidden-md-down">
  <%= image_tag'box-photos/collage.jpg'%>

</div>
</div>
</div>
<div style="clear:both"></div>
