<div class="container var-amenities">
    <div id="topdiv"class="row var-rooms closed-row top">
        <div id="private" class="private-index-img top col-lg-5">
            <div class="index-box hidden"></div>
            <div class="index-box-text hidden">
                <p>Private Rooms</p>
            </div>
          </div>

            <div id="private-text" class="col-lg-7 hidden-index-text top hiddenMobile">
              <b class="hidden-md-down">Private Rooms</b>

                <p>Lorem ipsum dolor sit amet,</p>
                <p>consectetur adipiscing elit. Fusce</p>
                <p>eget est leo. Class aptent taciti</p>
                <p>sociosqu ad litora torquent.</p>
                <a href="/contact">
                    <b>Reserve Now ></b>
                </a>
              </div>
            </div>
        <div class="var-rooms row closed-row">
          <div class="first roomColumn col-lg-6">

            <div id="shared" class="shared-index-img">
                <div class="index-box"></div>
                <div class="index-box-text">
                    <p>Shared Rooms</p>
                </div>
              </div>

                <div id="shared-text" class="hidden-index-text hiddenMobile">

                    <p>Lorem ipsum dolor sit amet,</p>
                    <p>consectetur adipiscing elit. Fusce</p>
                    <p>eget est leo. Class aptent taciti</p>
                    <p>sociosqu ad litora torquent.</p>
                    <a href="/contact">
                        <b>Reserve Now ></b>
                    </a>
                  </div>
                </div>

              <div class="second roomColumn col-lg-6">
                <div class="var-rooms closed-row">
                  

                <div id="common" class="common-index-img">
                    <div class="index-box"></div>
                    <div class="index-box-text">
                        <p>Common Areas</p>
                    </div>
                  </div>

                    <div id="common-text" class="hidden-index-text hiddenMobile">

                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>consectetur adipiscing elit. Fusce</p>
                        <p>eget est leo. Class aptent taciti</p>
                        <p>sociosqu ad litora torquent.</p>
                        <a href="/contact">
                            <b>Reserve Now ></b>
                        </a>
                      </div>
                    </div>
        </div>
      </div>




    </div>
