<div class="container review-container">
  <div class=" review-row">

    <div class="row review-content">
      <div class="review-user col-lg-2">
        <p>Bodhisottva</p>


      <div class="diamond-filter">

      <%= image_tag('reviews/bodhisottva.jpg') %>

    </div>
    <hr class="hidden-lg-up">
      <div class="stars">
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
      </div>
  </div>

      <hr class="hidden-md-up">
      <div class="review quote col-lg-10">

      <b>Fun place to stay and centrally located</b>
      <p>Great staff, excellent location,
        lots of activities offered by the hostel.
        The staff is very friendly and warm.
        The will welcome you like family.
        They will assist you in all your
        travel needs and recommendations.
        The hostel is in the heart of Taipei
        and next to a hopping night market.
        The rooms are kept very clean,
        security is good and they also have
        a kitchen to cook your own food
        along with a giant refrigerator.
        Only downfall to this place is
        you have to share 2 bathrooms between
        all the guests. If you don't mind taking
        turns for the bathroom, this hostel is
        an excellent place to stay. I've stayed
        their on multiple occasions and have
        recommended it to several travelers in the past.</p>
    </div>
  </div>

  </div>

<p></p>
<hr class="hidden-md-down onehundred">

  <div class ="review-row">

    <div class="row review-content">
      <div class="review-user col-lg-2">
        <p>top_shelf98</p>

      <div class="diamond-filter">

      <%= image_tag('reviews/top-shelf98.jpg') %>

      </div>
      <hr class="hidden-lg-up">
      <div class="stars">
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
      </div>
    </div>

      <hr class="hidden-md-up"=>
      <div class="review quote col-lg-10">

      <b>Friendly place to stay within reasonable budget.</b>
      <p>This is one of the friendliest hostel that
         I've stayed in Taipei. The receptionists
          were very friendly and provided me with
           great information on local foods,
            night markets, attractions, etc in the area.
             This hostel is also within a short distance
             from the MRT Guting Station. Make sure you
             take exit 3 from the Guting station, walk
             straight and make a left just right before
             the Family Mart convenient store.
             From there just walk straight and you'll
             see it straight ahead until the road turns
             into a T-intersection. Also there's free
             wifi and free green tea.</p>
           </div>
    </div>

  </div>
<p></p>
<hr class="hidden-md-down onehundred">

  <div class=" review-row">

    <div class="row review-content">
      <div class="review-user col-lg-2">
        <p>gracewonders</p>

      <div class="diamond-filter">

      <%= image_tag('reviews/gracewonders.jpg') %>

      </div>
      <hr class="hidden-lg-up">
      <div class="stars">
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
      </div>
    </div>

      <hr class="hidden-md-up">
      <div class="review quote col-lg-10">

      <b>Great experience, especially those who are travelling solo for the first time!</b>
      <p>It was my first time staying in a big city
        on my own for 3 days. I've been to quite a few
        countries, but never alone, so staying here
         was really comforting and safe, especially
          since I didn't know Taipei at all.
           And the only Mandarin I know is
           'What', 'I don't know', and 'I don't understand.'
           I chose this place because two of my friends
           recommended it and I was so glad I did.
           It's very clean, bright and colorful!
           I loved it! Sure the bed was hard,
           but it was the best sleep I had in the
           6 weeks I was in Taiwan. :)
           It's located close to a walking market
           and BTS so it was also conveniently located.
           The staff were very nice and the people I
           met there were pretty cool! They varied
           between solo and group travelers, first-timers
           and expert backpackers, it was great! I
           t was an eye-opening experience for me
           and if I'm ever back in Taipei,
           I'll definitely come back here again!</p>
    </div>
  </div>

  </div>
<p></p>
<hr class="hidden-md-down onehundred">

  <div class="review-row">

    <div class="row review-content">
      <div class="review-user col-lg-2">
        <p>Artemi-Daniliuk</p>

      <div class="diamond-filter">

      <%= image_tag('reviews/artemi-daniliuk.jpg') %>

      </div>
      <hr class="hidden-lg-up">
      <div class="stars">
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
       <i class="fa fa-star star-yellow" aria-hidden="true"></i>
      </div>

    </div>
      <hr class="hidden-md-up">
      <div class="review quote col-lg-10">

      <b>Even thought of living there for a semester</b>
      <p>I lived there for almost two weeks, which
        has been a great time and an amazing experience,
        as well as a good place for meeting people from
        all over the world.

        Actually I don't know what to start with. Maybe,
        first of all, the fact that it is highly convenient,
        a couple of minutes walking from amazing food in
       the night market, but also 2-3 minutes walking to
       the MRT station, which is really great.

        Secondly, the people. The staff is really nice
        and always willing to help with directions,
        random questions or chinese translations,
        which can be a key factor when looking for
        a good place where to eat, a place to buy something,
        flat hunting and many other situations.
        But not only the staff, also the residents.
        At least the ones I met during my stay were
        just gorgeous people.

        The place is always clean, and you dispose
        of whatever you need, washing machine, dryer,
        WiFi (actually 2 nets), towels, bed sheets,
        whatever you need... And if you don't find
        something, the shops are one minute walking
        from there. You have a kitchen, free drinking
        water and free coffee for those mornings after
        clubbing. The rooms can seem somehow small,
        but still, there's always enough place.
        In fact you won't be willing to spend a lot of
        time there having a big living room, where all
        the people are, with TV, Internet, board games,
        sofas, air conditioner at every room, and so on.

        Also, as a smoker, I tell you, that there's a
        smoking balcony, where you can have your peaceful
        moment, enjoy a cigarette alone or talking to
        someone, but without bothering any of the non-smokers.

        Really homely, lovely and good place at a really
        good price.</p>
    </div>
  </div>

  </div>

</div>
