<div class="container review-container">
  <div class="row review-row">

    <img src="#" alt="#">
    <div class="stars">

    </div>

    <hr>
    <div class="review-content">
      <b>title</b>
      <p>Lorem ipsum dolor sit amet
      Lorem ipsum dolor sit amet
    Lorem ipsum dolor sit amet
  Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet</p>
    </div>

  </div>

</div>
