.miniGallery img{
  width:100%;
  height:auto;
}
.miniGallery.about{
  margin-top: 100px;
}

.box-up.about {
    width: 75vw;
    height: 75vw;
    left: 47%;
    bottom: 26%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    /*for IE*/
}

.over-box-text.about {
    bottom: 0;
    right: -17vw;
    position: absolute;
    color: rgba(#000000, 1);
    font-family: 'lora', serif;
    text-align: right;
    line-height: 0.5;
    width: 65%;
    height: 65%;
    font-size: 1em;
    padding: auto;
    z-index: 21;
}
.over-box-text.about p b{
color:black;
margin-left: 0px;
margin-right: 0px;
text-align:right;
}

.index-bg.about {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    top: -70px;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    background-image: url("box-photos/photos(unedited)/Box-of-Chocolates.jpg");
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about{
  font-family: verdana;
}
.about.chocolate-img img{
  margin: 30px auto;
  width: 111px;
  height: 93px;
}
.about.chocolate-img{
  position: relative;
}
.about.headline p{
  color: black;
  text-align: center;
}
.about b{
  margin-top: 75px;
  text-align: center;
  font-size: 1.2em;
  margin: 15px auto;
}
.about p{
  font-size: 0.9em;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  text-align:left;
  color: gray;
  line-height: 2em;
}
.about.mission{text-align: center;
margin-top: 30px;}
.about.final-statement{text-align: center;
margin-top: 0px;}
.container.about {
top:-35px;
height: auto;
min-height: 100%;}
@media screen and (min-width: 359px) {
}
@media screen and (min-width: 374px) {
    }
@media screen and (min-width: 411px) {
    .over-box-text.about {
        bottom: 0;
        right: -18vw;
        line-height: 0.7;
        font-size: 1.3em;
    }

    .index-bg.about {
        height: 206px;
    }

}
@media screen and (min-width: 767px) {
    .over-box-text.about {
        bottom: 7%;
        right: -22vw;
        line-height: 1;
        font-size: 1.7em;
    }

    .box-up.about {
        height: 800px;
        width: 800px;
        left: 53%;
        bottom: 57%;
    }

    .index-bg.about {
        height: 383.5px;
    }
}
@media screen and (min-width: 992px) {
    /* Styles */
    .over-box-text.about {
        bottom: 7%;
        right: -27vw;
        line-height: 1;
        font-size: 1.7em;
    }

    .box-up.about {
        height: 800px;
        width: 800px;
    left: 64%;
            bottom: 31%;
    }

    .index-bg.about {
        height: 512px;
    }
}
@media screen and (min-width: 1200px) {
    .over-box-text.about {
        bottom: 7%;
            right: -36vw;
        line-height: 1;
        font-size: 1.7em;
    }

    .box-up.about {
        height: 800px;
        width: 800px;
            left: 62%;
        bottom: 31%;
    }
}
