// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active {
  display: block;
  position: fixed;
  top: 34px;
  height: 100%;
  z-index: 10;
  width: 160px;
  left: -800px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  background: #333;
  color: #fff;
  box-shadow: 0 0 5px 5px #222 inset;
}
.active .active-inner {
  padding: 0 0 15px;
}
.active .active-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.active.right {
  left: auto;
  right: -160px;
}
.active.left {
  left: 0;
  right: auto;
  transition: 1s;
}
.active p {
  font-size: 13px;
  margin: 0 0 12px;
}
.active p a {
  color: rgba(255, 255, 255, 0.9);
}
.active > p {
  margin-left: 15px;
  margin-right: 15px;
}
.active ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #1a1a1a;
}
.active li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #1a1a1a;
}
.active ul li:hover, .active ul li.active, .active ul li.active-class-active {
  border-top: 0;
  line-height: 49px;
}
.active ul li:hover > a,
.active ul li:hover > span, .active ul li.active > a,
.active ul li.active > span, .active ul li.active-class-active > a,
.active ul li.active-class-active > span {
  box-shadow: 0 0 15px 3px #222 inset;
}
.active ul li a,
.active ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.active ul li ul {
  border-bottom: 0;
  margin: 0;
}
.active ul li ul li {
  line-height: 40px;
  font-size: 13px;
}
.active ul li ul li:last-child {
  border-bottom: 0;
}
.active ul li ul li:hover, .active ul li ul li.active, .active ul li ul li.active-class-active {
  border-top: 0;
  line-height: 41px;
}
.active ul li ul li:hover > a,
.active ul li ul li:hover > span, .active ul li ul li.active > a,
.active ul li ul li.active > span, .active ul li ul li.active-class-active > a,
.active ul li ul li.active-class-active > span {
  box-shadow: 0 0 15px 3px #222 inset;
}
.active ul li ul li a,
.active ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px;
}

  .active li > img{
    width: 85px;
height: 75px;
margin-left: 37.5px;
  }

  li.chocolate-menu{
    border-bottom:0px;
  }
