.box-up{display:none;}
.box-up.index {
    width: 409px;
    height: 409px;
    left: calc(-50% + 115.5px);
    bottom: -53%;
    position: relative;
    background-color: rgba(157, 10, 14, 0.5);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    /*for IE*/
}

.over-box-text {
    bottom: -43%;
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'lora', serif;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    padding: auto;
}

.index-bg {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    top: -70px;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    background-image: url("box-photos/photos(unedited)/26-Balcony-View-rainbow.jpg");
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
// .index-bg:after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-image: url("box_of_chocolates/place_holders/friends_hostel.jpg");
//     width: 100%;
//     height: auto;
//     opacity: 0.7;
//     z-index: -1;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }
// Room Descriptions
.var-amenities {
  height:100%;
    min-height: 100%;
    position: relative;
    overflow-y: hidden;
    top: -70px;
    margin: 10px auto;
}

.container.var-amenities.open-index {
}

.var-rooms {
    position: relative;
    overflow: hidden;
}

.var-rooms.open-row {
    left: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 22%;
    transition: 1s;
}

.var-rooms.closed-row {
    margin: 15px;
    height: 22%;
    transition: 1s;
}

.index-box {
    width: 500px;
    height: 500px;
    margin-left: -200px;
    background-color: rgba(0, 0, 0, 0.8);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    /*for IE*/
}

.index-box-text {
    left: -25%;
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'lora', serif;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: auto;
    transition:1s;
}

.hiddenMobile.hidden-index-text {
    position: relative;
    display: none;
    font-family: 'lora', serif;
    margin-top: -15px;
    margin-left: 15px;
    margin-right: 15px;
    height: 30%;
    background-color: rgb(211, 221, 241);
    transition: 1s;
}
.hiddenMobile.hidden-index-text.open-row {
    left: 160px;
    margin-bottom: 15px;
    transition: 1s;
    margin-left: -15px;
    margin-right: -15px;
}
.hiddenMobile.hidden-index-text > p {
    margin-left: 30px;
    left: -15px;
    line-height: 0.7;
    text-align: left;
}

.hiddenMobile.hidden-index-text > p:first-child {
    padding-top: 10px;
}

.hiddenMobile.hidden-index-text > a {
    color: black;
    text-align: right;
    position: absolute;
    right: 10%;
}

.hidden-index-text.show-text {
    display: block;
}


.shared-index-img {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("box-photos/photos(unedited)/12-8-Bed-Dorm.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.common-index-img {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("box-photos/photos(unedited)/01-common-space-1.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#private {}

#shared {}

#common {}
.private-index-img {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("box-photos/photos(unedited)/24-Double-Bed-private-room.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 359px) {
    .box-up.index {
        left: -7%;
        bottom: -47%;
    }

    .index-bg {
        height: 180px;
    }
}
@media screen and (min-width: 374px) {
    .box-up.index {
    left: calc(-50% + 171px);
    bottom: -45.5%;
    }

    .index-bg {
        height: 187.5px;
    }

    .index-box-text {
        left: -27%;
    }
}
@media screen and (min-width: 411px) {
    .box-up.index {
      left: 2px;
        bottom: -41%;
    }

    .index-bg {
        height: 206px;
    }

    .index-box-text {
        left: -28%;
    }

    .index-box {
        margin-left: -184px;
    }

    .hiddenMobile.hidden-index-text > p:first-child {
        padding-top: 37px;
    }
}
@media screen and (min-width: 767px) {





  .box-up.index {
        height: 800px;
        width: 800px;
        bottom: -43%;
            left:-16px;
    }

    .index-bg {
        height: 383.5px;
    }

    .index-box {
        margin-left: -250px;
    }

    .index-box-text {
        left: -27%;
    }

    .hiddenMobile.hidden-index-text > p:first-child {
        padding-top: 47px;
    }

    .hiddenMobile.hidden-index-text > p {
        margin-left: 95px;
        line-height: 1;
        margin-left: 95px;
    }

    .hiddenMobile.hidden-index-text > a {
        bottom: 20%;
    }
}
@media screen and (min-width: 992px) {
    .private-index-img.top{
      opacity:1;
    }
    .index-box.hidden{
      display:none;
    }
    .index-box-text.hidden{
      display:none;
    }
    .box-up.index {
        width: 1000px;
        height: 1000px;
        bottom: -41%;
          left: -16px;
    }

    .index-bg {
        height: 512px;
    }
}
@media screen and (min-width: 1200px) {
    .box-up.index {
          left: -16px;
    }
}
