.jumbotron {
  padding-top: 0px;
  font-family: 'Big Caslon';
  background: image-url("https://cdn.cp.adobe.io/content/2/dcx/ae9661b0-aecf-4447-bdb9-6b66ad4451f4/content/artwork/artboard-79e02a7b-ab16-497b-a8be-22a8a7f59a88/graphicContent.png/version/0");
  width: auto;
  height: 550px;
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;

}
