.box-up.review {
    width: 75vw;
    height: 75vw;
    left: 47%;
    bottom: 26%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    /*for IE*/
}

.over-box-text.review {
    bottom: 0;
    right: 4vw;
    position: absolute;
    color: rgba(#000000, 1);
    font-family: 'lora', serif;
    text-align: right;
    line-height: 0.5;
    width: 65%;
    height: 65%;
    font-size: 1em;
    padding: auto;
    z-index: 21;
}

.index-bg.review {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    top: -70px;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    background-image: url("box-photos/photos(unedited)/Box-of-Chocolates.jpg");
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.review-content{
    background-color: rgb(211, 221, 241);
}
.row.review{
  font-family: verdana
}
.row.review.chocolate-img img{
  margin: 30px auto;
  width: 111px;
  height: 93px;

}
.row.review.headline p{
  color: black;
  text-align: center;
}
.row.review b{
  margin-top: 75px;
  text-align: center;
  font-size: 1.2em;
  margin: 15px auto;
}
.row.review p{
  font-size: 0.9em;
  margin-bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
  text-align:left;
  color: gray;
  line-height: 2em;
}
.container.review {
top:-35px;
height: auto;
min-height: 100%;}
@media screen and (min-width: 359px) {
    .index-bg {
        height: 180px;
    }
}
@media screen and (min-width: 374px) {
    .index-bg {
        height: 187.5px;
    }

    .index-box-text {
        left: -27%;
        bottom: -38px;
    }
}
@media screen and (min-width: 411px) {
    .over-box-text.review {
        bottom: 0;
        right: 7vw;
        line-height: 0.7;
        font-size: 1.3em;
    }

    .index-bg.review {
        height: 206px;
    }

    .index-box-text {
        left: -28%;
        bottom: -48px;
    }

    .index-box {
        margin-left: -184px;
        margin-top: -87px;
    }

    .row.hidden-index-text > p:first-child {
        padding-top: 37px;
    }
}
@media screen and (min-width: 767px) {
    .over-box-text.review {
        bottom: 7%;
        right: 11vw;
        line-height: 1;
        font-size: 1.7em;
    }

    .box-up.review {
        height: 800px;
        width: 800px;
        left: 53%;
        bottom: 57%;
    }

    .index-bg.review {
        height: 383.5px;
    }

    .index-box {
        margin-left: -250px;
        margin-top: -159px;
        height: 500px;
        width: 500px;
    }

    .index-box-text {
        left: -27%;
        bottom: -75px;
    }

    .row.hidden-index-text > p:first-child {
        padding-top: 47px;
    }

    .row.hidden-index-text > p {
        margin-left: 95px;
        line-height: 1;
        margin-left: 95px;
    }

    .row.hidden-index-text > a {
        bottom: 20%;
    }
}
@media screen and (min-width: 992px) {
    /* Styles */
    .over-box-text.review {
        bottom: 7%;
        right: 11vw;
        line-height: 1;
        font-size: 1.7em;
    }

    .box-up.review {
        height: 800px;
        width: 800px;
    left: 64%;
            bottom: 31%;
    }

    .index-bg.review {
        height: 512px;
    }
}
@media screen and (min-width: 1200px) {
    .over-box-text.review {
        bottom: 7%;
        right: 11vw;
        line-height: 1;
        font-size: 1.7em;
    }

    .box-up.review {
        height: 800px;
        width: 800px;
            left: 64%;
        bottom: 31%;
    }
}
