.box-up.review {
    width: 65vw;
    height: 65vw;
    left: 47%;
    bottom: 26%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    /*for IE*/
}
.top-review-user{color: white }
.over-box-text.review {
    bottom: 0;
    position: absolute;
    color: white;
    font-family: 'lora', serif;
    text-align: center;
    line-height: 0.5;
    width: 53%;
    height: 65%;
    font-size: 1em;
    padding: auto;
    z-index: 21;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 0.7;
    font-size: 1.3em;
}

.index-bg.review {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    top: -70px;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    background-image: url("box-photos/photos(unedited)/BOX-Movie-Night-01.jpg");
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.review-content {
    background-color: rgb(220, 228, 252);
    height: 450px;
    overflow: hidden;
    font-family: verdana;
}

.review-content.selected {
    height: auto;
}

.review-user p {
    color: black;
    text-align: center;
}

.review-content b {
    margin-top: 75px;
    text-align: center;
    font-size: 1.4em;
    margin: 15px auto;
    font-family: 'lora', serif;
}

.review-content p {
    font-size: 0.9em;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    color: gray;
    line-height: 2em;
}

.review.quote {
    text-align: center;
}

.review-content hr {
    border-top: 1px solid gray;
}

.onehundred {
    width: 100%;
}

.fa.fa-star {
    color: rgb(255, 238, 83);
}

.diamond-filter {
    width: 75px;
    height: 75px;
    margin: 25px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
}

.diamond-filter img {
    width: 115px;
    height: 115px;
    margin: -25px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container.review-container {
    top: -90px;
    height: auto;
    min-height: 100%;
    padding-right: 25px;
    padding-left: 25px;
}

.row.review-row {
    margin: 20px auto;
}

.review-content > .review-user p {
    position: relative;
    right: -50%;
    margin-left: 0;
    top: 60px;
}

  .row.review-content {
      margin-top: 40px;
      margin-left: 0;
      margin-right: 0;
  }


.homestar.stars {
    right: 0;
    top: 0;
}

.stars {
    position: relative;
    right: -50%;
    top: -60px;
}
@media screen and (min-width: 359px) {
}
@media screen and (min-width: 374px) {}
@media screen and (min-width: 411px) {
    .over-box-text.review {
        line-height: 0.7;
        font-size: 1.3em;
    }

    .index-bg.review {
        height: 206px;
    }
}
@media screen and (min-width: 767px) {
    .diamond-filter {
        width: 100px;
        height: 100px;
    }

    .diamond-filter img {
        width: 145px;
        height: 150px;
    }

    .over-box-text.review {
        line-height: 1;
        font-size: 1.7em;
    }

    .box-up.review {
        left: 53%;
        bottom: 17%;
    }

    .index-bg.review {
        height: 383.5px;
    }
}
@media screen and (min-width: 992px) {
    /* Styles */
    .over-box-text.review {
        line-height: 1;
        font-size: 1.7em;
    }
    .row.review-content {
        margin-top: 70px;
    }

    .review-content > .review-user p {
        position: relative;
        right: -25px;
        margin-left: 0;
        top: 200px;
    }

    .stars {
        right: -25px;
        top: 50px;
    }

    .review-content {
        background-color: white;
        height: auto;
    }

    .box-up.review {
        left: 64%;
        bottom: 17%;
    }

    .index-bg.review {
        height: 512px;
    }
}
@media screen and (min-width: 1200px) {
    .over-box-text.review {
        line-height: 1;
        font-size: 1.7em;
    }

    .box-up.review {
        left: 64%;
        bottom: 40%;
    }
}
@media screen and (min-width: 1700px) {
    .box-up.review {
        bottom: 110%;
    }
}
