<nav class="nav navbar navbar-toggle-md navbar-fixed-top", style="background-color: #333">
  <div class="container">
    #logo link to home
    <ul class="nav navbar-brand navbar-nav navbar-left">
    <li> <%= link_to "BOC", root_path, class: "navbar-link" %> </li>
  </ul>
  <ul class="nav navbar-nav navbar-brand navbar-right">
    <li> <%= link_to "about", about_path_url, class: "navbar-link" %> </li>
    <li> <%= link_to "gallery", gallery_path_url, class: "navbar-link" %> </li>
    <li> <%= link_to "contact", contact_path_url, class: "navbar-link" %> </li>
  </ul>
  </div>
</nav>
